<div class="wrapper center">
  <h2>
    US City Search
  </h2>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Search City" [(ngModel)]="searchedCity" [matAutocomplete]="auto"
      [formControl]="searchCitiesCtrl" placeholder="Min 3 Characters Ex. Los">
    <button *ngIf="searchedCity" matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete [panelWidth]="400" #auto="matAutocomplete" (optionSelected)="onSelected()"
      [displayWith]="displayWith">
      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let city of filteredCities" [value]="city">
          <span><b>{{city}}</b></span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>

  <br>

  <ng-container *ngIf="errorMsg; else elseTemplate">
    {{errorMsg}}
  </ng-container>
  <ng-template #elseTemplate>
    <div class="city-details" *ngIf="selectedCity">
      <div>
        <h3>Selected Value: {{selectedCity}}</h3>
        <ul>
          <li>Name: {{selectedCity}}</li>
        </ul>
      </div>
    </div>
  </ng-template>

</div>